/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body {
  background-color: rgb(41, 41, 41);
  color: #ffffff;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.4; 
}

body#home {
  background: -webkit-radial-gradient(37% 30%, circle cover, rgba(255,255,255,0.075) 0%,rgba(255,255,255,0) 40%), -webkit-gradient(linear, left top, left bottom, from(rgb(41, 41, 41)), color-stop(44%, rgb(44, 44, 44)), color-stop(44.5%, rgb(64, 64, 64)), color-stop(48%, rgb(54, 54, 54)), to(rgb(30, 30, 30)));
  background: -moz-radial-gradient(50% 30%, circle closest-corner, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0), transparent 90%), -moz-linear-gradient(top, rgb(41, 41, 41), rgb(44, 44, 44) 44%, rgb(64, 64, 64) 44.5%, rgb(54, 54, 54) 48%, rgb(30, 30, 30));
  background-size: auto 1500px;
  background-repeat: no-repeat;
}

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a {
  color: #3381c9;
  text-decoration: none;
}
a:visited { color: #4183C4; }
a:hover { color: #3e9ef7; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Peter Beardsley
   ========================================================================== */

/* Github banner (courtesy of http://www.terrenceryan.com/blog/post.cfm/github-ribbons-in-css). */
#github_banner{
  float: right;
  height: 149px;
  width: 149px;
  overflow:hidden;
  padding: 0;
  margin: 0;
  z-index: 2;
}

#github_banner a {
  display: block;
  width: 190px;
  font-size: 14px;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", 
    "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, 
    Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
  background-color: #333;
  color: #FFF;
  word-spacing: 2px;
  text-decoration: none;
  padding: 5px 15px 5px 25px;

  position:relative;
  left: 20px;
  top: -37px;
  text-align: center;

  -moz-transform-origin: 0 0 ;
  -moz-transform:rotate(45deg);
  -moz-box-shadow:    1px 1px 5px 1px #666;

  -webkit-transform-origin: 0 0 ; 
  -webkit-transform:rotate(45deg);
  -webkit-box-shadow: 1px 1px 5px 1px #666;

  -ms-transform-origin: 0 0 ; 
  -ms-transform:rotate(45deg);
  -ms-box-shadow: 1px 1px 5px 1px #666;

  transform-origin: 0 0 ; 
  transform:rotate(45deg);
  box-shadow: 1px 1px 5px 1px #666;

  background-image: linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -o-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -moz-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -webkit-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);
  background-image: -ms-linear-gradient(bottom, #000000 3%, #666666 5%, #000000 7%, #000000 93%, #666666 95%, #000000 97%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.03, #000000),
    color-stop(0.05, #666666),
    color-stop(0.07, #000000),
    color-stop(0.93, #000000),
    color-stop(0.95, #666666),
    color-stop(0.97, #000000)
  );  
}


 #nav_and_header_container,
 #main {
  width: 850px;
  margin: auto;
}

ul#nav {
  margin: 0 0 0 5px;
  padding: 0;
}
  ul#nav li {
    list-style-type: none;
    display: inline;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 20px;
  }
  ul#nav li i {
    font-size: 20px;
    text-shadow: 1px 1px 1px #111111;
    width: 1em;
    vertical-align: center;
  }
  ul#nav li.active a {
    color: #fff;
  }

h1 {
  margin: 0;
  padding: 0;
  font-size: 80px;
  text-shadow:2px 2px 2px #000000;
}

body#home h1 {
  margin: 20px 0 0 0;
  font-size: 150px;
  text-align: center;
}

body#home #main {
  text-align: center;  
}

p#intro {
  margin: 75px auto 50px auto;
  width: 95%;
  font-size: 30px;
  line-height: 40px;
  text-align: left;
}
  p#intro strong {
    font-size: 35px;
  }

#demo {
  width: 498px;
  margin: 64px auto 0 auto;
}
  #demo #mask {
    background: url('../img/imac.png');
    position: absolute;
    left:0; top:0;
    width: 500px;
    height: 400px;
  }
  #demo #screen_contents_container {
    z-index: 0;
    position: relative;
    width: 500px;
    height: 400px;
    display: block;
  }
  #screen_contents {
    left:0; top:0;
    position: absolute;
    margin: 21px 0 0 21px;
    width: 457px;
    height: 256px;
    background-color: #000000;
    font-size: 3em;    
  }
    #screen_contents #primary_text {
      display: block;
      text-align: center;
      margin: 80px auto 63px auto;
      font-size: 70px;
      font-weight: bold;
    }
    #screen_contents #secondary_text {
      display: block;
      margin: 0 5px 0 0;
      font-size: 10px;
      float: right;
    }

a.download_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
  box-shadow:inset 0px 1px 0px 0px #a4e271;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
  background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
  background-color:#89c403;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #74b807;
  display:inline-block;
  color:#ffffff;
  font-size:24px;
  font-weight:bold;
  padding:7px 15px;
  text-decoration:none;
  text-shadow:1px 1px 16px #528009;
  margin: 0 0 100px 0;
  cursor: pointer;
}
a.download_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
  background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
  background-color:#77a809;
}
a.download_button:active {
  position:relative;
  top:1px;
}
a.download_button i {
  font-size: 28px;
  line-height: 8px;
}

footer {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 99%;
  background-color: #555555;
}
  footer span {
    float: right;
    margin-right: 10px;
  }

ol li img {
  margin: 15px 0 15px 0;
}

ul.release_notes li {
  list-style-type: none;
}
  ul.release_notes li i {
    font-size: 15px;
  }

h2 {
  margin-top: 50px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1100px) {
  #github_banner {
    display: none;
  }
  body#home h1 {
    font-size: 120px;
  }

  body#home #nav_and_header_container,
  body#home #main {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  body#home h1 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 480px) {
	/* Style adjustments for viewports that meet the condition */
  #demo {
    display: none;
  }
  body#home {
    background: rgb(41, 41, 41);
    height: auto;

  }
  body#home #nav_and_header_container,
  body#home #main {
    width: 370px;
    margin: auto;
    height: auto;
  }
  body#home h1,
  h1 {
    font-size: 3.5em;  
  }

  p#intro {
    padding: 0;
    margin: 20px 0 20px 0;
  }

  a.download_button {
    display: none;
  }

  body#interior #nav_and_header_container,
  body#interior #main {
    width: auto;
    margin: 0 3% 0 3%;
  }
}

/* retina graphics */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  #demo #mask {
    background: url('../img/imac@2x.png') top left 1000px 800px;
  }
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
